html {
	box-sizing: border-box;
	background: url("../png/bgimg.png") center no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

body {
	margin: 0;
}

h3 {
	text-align: left;
}

.profImg {
	float: left;
	width: 70px;
	height: 70px;
}

p {
	text-align: left;
}

button {
	font-weight: bolder;
	border: 0.4em solid #D3D5D9;
	font-size: 16px;
	color: white;
	background-color: #D3D5D9;
}
/* 紐⑤컮�씪 �궗�씠利덉쓽 �븯�� 諛뷀깢�솕硫� */
#bg {
	padding: 20px;
	height: 900px;
	width: 414px;
	background: white;
}
/* �긽�떒 諛� */
#navup ul {
	list-style: none;
	margin: none;
}

#navup li {
	width: 80px;
	background-color: rgb(193, 199, 184);
	display: block;
	float: left;
	margin-right: 7px;
	border: none;
	border-bottom: 1px solid #777;
}

#navup a {
	color: gray;
	display: block;
	font-weight: bold;
	padding: 5px;
	text-decoration: none;
	text-align: center;
	background-color: white;
}

#navup li:hover {
	border-bottom: #24b3ff;
}

#navup a :hover {
	color: skyblue;
}

p {
	height: 10px;
}

#navmain {
	position: fixed;
	bottom: 0;
	float: left;
	height: 80px;
	/* left: 36.58%; */
	left: inherit;
	background: white;
}
/* �븯�떒 諛� 諛곌꼍 */
#navmain li {
	width: 80px;
	background-color: white;
	display: block;
	float: left;
	border: none;
}
/* �븘�씠肄� 湲��뵪 */
#navmain a {
	font-size: 13px;
	color: #777;
}
/* �솃 �븘�씠肄� */
#homeIcon {
	height: 30px;
	width: 30px;
	border: 2px solid gray;
	border-radius: 90%;
}
/* 寃��깋 �븘�씠肄� */
#search {
	height: 35px;
	width: 35px;
	opacity: 0.8;
}
/* 媛쒖꽕 �븘�씠肄� */
#Addbtn {
	height: 55px;
	width: 90px;
}
/* �븣由� �븘�씠肄� */
#bell {
	height: 18px;
	width: 18px;
	padding: 7px;
	border: 2px solid gray;
	border-radius: 90%;
	opacity: 0.8;
}
/* 留덉씠�럹�씠吏� �븘�씠肄� */
#mypage {
	height: 37px;
	width: 37px;
	border-radius: 90%;
	background: white;
	border: 1px solid gray;
}

.activitystate {
	float: left;
}

select {
	width: 90px;
	height: 30px;
	border-radius: 30px;
	text-align: center;
}

/* section {
	text-align: left;
} */
section>li {
	list-style: none;
	list-style-position: outside;
	text-align: left;
}

#Img {
	float: left;
	width: 150px;
	height: 150px;
}

.hidden {
	display: none;
}

#navmodal {
	position: fixed;
	float: left;
	background-color: rgba(36, 36, 34, 0.76);
	opacity: 0.8;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	bottom: 80px;
	width: 200;
	height: 150px;
	list-style: none;
	animation-name: appear;
	animation-duration: 0.5s;
}

#navmodal li {
	margin-top: 30px;
	width: 200px;
	float: left;
	border: none;
}

#meetingCreate {
	height: 70px;
	width: 70px;
	border-radius: 70%;
	left: 700px;
}

#roundCreate {
	height: 70px;
	width: 70px;
	right: 700px;
	border-radius: 70%;
}

button>b {
	color: black;
}

b {
	color: white;
}

#text {
	color: white;
}

@
keyframes appear {from { opacity:0;
	transform: translateY(80px);
}

to {
	opacity: 0.8;
}

.display-flex {
	display: flex;
	justify-content: flex-start;
}