html {
	box-sizing: border-box;
	background: url("../png/bgimg.png") center no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

body {
	margin: 0;
}
/* ����� �������� �Ͼ� ����ȭ�� */
#bg {
	/* padding: 20px; */
	padding-top: 20px;
	padding-bottom:20px;
	height: 800px;
	width: 414px;
	background: white;
}

form {
	margin-top: 20px;
	text-align: center;
}

ul {
	list-style: none;
}

 #roundProf {
	heigth: 200px;
} 

#prof {
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 90px;
	margin-right: 20px;
	margin-left: 20px;
}

#nick{
	padding-top: 20px;
	margin-top: 0;
	margin-bottom: 40px;
	text-align: left;
	font-size: 20px;
}
#insert{
	background: url("../png/roundBg.png");
	opacity: 0.5;
	width:414px; 
	height:200px;
}
#roundN{
	font-size:30px;
	color:white;
	padding-top:150px;
}